body{
	background-color: rgb(130,130,130);
}
.entete{
	padding-left: 0;
	padding-right: 0;
}

.current_module {
	font-weight: bold; 
	font-size: x-large; 
	text-align: center; 
	font-family: Constantia;
	border: 2px solid #858796; 
	border-radius: 10px; 
	/*color: #f3e5f5;*/
	color: #ffab40;
}

.title{
	font-family: Constantia;
	font-size: 20px;
	padding-left: 15px;
	/*color: #eee;*/
	color: #c51162;
}
.word-wrap
{
	word-wrap: break-word;
}

.accueil{
	width: 65%;	
}
.accueil .card-text:hover{
	font-weight: bold;
	font-size: x-large;
}

#modules{
	padding: 2em; 
	margin-bottom: 1.4em;
	margin-top: 1em;
	/*background-image: url("../img/background1.jpg");*/
}

#modules a{
	text-decoration: none;
	color: blue;
}
#modules a:hover{
	text-decoration: none;
	color: black;
}

#modules img{
	width: 100%;
	height: 100px;
	border-radius: 20px;
}

.card{
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
}

.card .card-text{
	text-align: center;
	font-family: "Britannic Bold";
	font-size: large;
	color: blue;
	font-weight: bold;
}

.card .card-text:hover{
	color: black;
}

.module{
	border: 1px solid blue;
	border-radius: 20px;
}

.card-module{
	padding: 0px;
	padding-bottom: 10px;
}

a .card{
	border: 2px solid blue;
	border-radius: 20px;
}

a .card:hover{
	border: 4px solid black;
}

.bg-blue{
	/*background-color: #563d7c;*/
	background-color: #212529;
	/*#64b5f6*/
}

.text-white{
	color: #fff;
}
.pseudo{
	color: #cbbde2; 
	font-size: 16px;"
}

.pseudo:hover{
	text-decoration: underline;
}

#footer{
	background-color: black; 
	color: #fff; 
	text-align: center; 
	height: 50px; 
	padding-top: 12px; 
	font-weight: bold;"
}

.details-modules .col-md-3{
	/*border: 2px solid #858796;*/
	height: 23em;
	border-radius: 30px;
	margin-left: 3px;
	margin-top: 5px;
	margin-right: 0.2em;
}

.details-modules .col-md-6{
	border: 2px solid white;
	height: 23em;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: 1em;
	background-color: #000; 
}

.details-modules .col-md-7{
	border: 2px solid white;
	height: 25em;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: 4em;
	background-color: #000; 
}

.video-icone{
	width: 30%; 
	height: 8%; 
	margin-left: 35%;
	border-radius: 10px;
	margin-top: 15px;
}

.video-title{
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center; 
	font-size: 1.1em; 
	font-family: Constantia;
	color: #fff;
}

.part{
	height: 5em; 
	margin-left: 10px; 
	margin-top: 15px;
	margin-right: 10px; 
	text-align: center;
	/*border: 1px solid black; */
	margin-bottom: 10px;"
}

.part span {
	margin-top: -18px; 
	font-weight: bold; 
	color: #fff; 
	font-family: Sarabun; 
	font-size: large;"
}

.part:hover{
	/*border: 1px solid #bf360c;*/
	font-size: large;
	text-decoration: underline;
	text-decoration-color: #fff;
	border: 2px solid black;
}
.help:hover{
	text-decoration: underline;
}

.masquer{
	display: none;
}

.demasquer{
	display: block;
}