body{
	background-color: rgb(130,130,130);
}
.entete{
	padding-left: 0;
	padding-right: 0;
}

.current_module {
	font-weight: bold; 
	font-size: x-large; 
	text-align: center; 
	font-family: Constantia;
	border: 2px solid #858796; 
	border-radius: 10px; 
}

.title{
	font-family: Constantia;
	font-size: 20px;
	padding-left: 15px;
	color: #eee;
}
.word-wrap
{
	word-wrap: break-word;
}

.accueil{
	width: 65%;	
}
.accueil .card-text:hover{
	font-weight: bold;
	font-size: x-large;
}

#modules{
	padding: 2em; 
	margin-bottom: 3em;
	/*background-image: url("../img/background1.jpg");*/
}

#modules a{
	text-decoration: none;
	color: blue;
}
#modules a:hover{
	text-decoration: none;
	color: black;
}

#modules img{
	width: 100%;
	height: 100px;
	border-radius: 20px;
}

.card{
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
}

.card .card-text{
	text-align: center;
	font-family: "Britannic Bold";
	font-size: large;
	color: blue;
	font-weight: bold;
}

.card .card-text:hover{
	color: black;
}

.module{
	border: 1px solid blue;
	border-radius: 20px;
}

.card-module{
	padding: 0px;
	padding-bottom: 10px;
}

a .card{
	border: 2px solid blue;
	border-radius: 20px;
}

a .card:hover{
	border: 4px solid black;
}

.bg-blue{
	/*background-color: #563d7c;*/
	background-color: #212529;
	/*#64b5f6*/
}

.text-white{
	color: #fff;
}
.pseudo{
	color: #cbbde2; 
	font-size: 16px;"
}

.pseudo:hover{
	text-decoration: underline;
}

#footer{
	background-color: black; 
	color: #fff; 
	text-align: center; 
	height: 65px; 
	padding-top: 12px; 
	font-weight: bold;"
}

.details-modules .col-md-3{
	border: 2px solid #858796;
	height: 23em;
	border-radius: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.details-modules .col-md-6{
	border: 2px solid white;
	height: 23em;
	margin-left: 40px;
}

.video-icone{
	width: 45%; 
	height: 20%; 
	margin-left: 27%;
	border-radius: 10px;
	margin-top: 15px;
}

.video-title{
	margin-bottom: 15px;
	text-align: center; 
	font-size: large; 
	font-family: Constantia;
	color: #fff;
}